<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Загрузите результат тестирования безопасности</p>
            <input type="file" name="formFile" accept=".txt" single />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>