@model ModelGenerator.Views.Creation.ThirdStepModel
@{
    <form method="post">
        <div class="container" style="height: 800px; overflow: scroll">
            <table class="table" >
                <tr>
                    <th>Название</th>
                    <th>Источник</th>
                    <th>Свойства</th>
                    <th>Опасность</th>
                </tr>
                @for (var i = 0; i < Model.Preferences.Dangers.Count(); i++)
                {
                    <tr>
                        <td>
                            @Model.Preferences.Dangers[i].ThreatName
                        </td>
                        <td>@Model.Preferences.Dangers[i].Source</td>
                        <td>@Model.Preferences.Dangers[i].Properties</td>
                        <td>
                            @Html.DropDownListFor(s => s.Dangers[i], Model.Danger)
                        </td>
                    </tr>

                }
            </table>
        </div>
        <button asp-action="SecondStepBack" asp-controller="Creation"> Назад</button>
        <button asp-action="ForthStep" asp-controller="Creation"> Далее</button>
    </form>
}
